{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Accueil
{% endblock %}

{% block body %}
    <div class="content">
        Test test
    </div>

    {% set var ='<strong>titre en gras</strong>' %}

    {{ var | raw }}
{% endblock %}
