{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Accueil
{% endblock %}

{% block body %}
    <h3 style="text-align: center">
        Bienvenue sur le site de gestion de vos quittance
    </h3>
{% endblock %}
