*{
    margin: 0;
    font-family: 'Inter', Serif, sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fdfcfc;
    position: relative;
    min-height: 100vh;
}

/*  ###################################
    ## FORMULAIRE _ LOGIN _ REGISTER ##
    ###################################*/

.btnSubmit {
    padding: 7px 50px;
    font-size: 1rem;
    border-radius: 10px;
    overflow: hidden;
    background-color: #3a4c69;
    color: white;
    border: #19203b solid;
}

.remember_me{
    font-size: 0.9rem;
}

.btnSubmit:hover{
    color: white;
    background-color: #405786;
}

.btnNouveauCompte {
    padding: 7px 50px;
    font-size: 1rem;
    border-radius: 10px;
    overflow: hidden;
    background-color: #3a4c69;
    color: white;
    border: #19203b solid;
}

.btnNouveauCompte:hover {
    color: white;
    background-color: #405786;
}

.container-form{
    display: flex;
    justify-content: center;
}

.login-form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: stretch;
    padding: 70px 70px;
    color: #212E53;
    border-radius: 10px;
    border: white 1px solid;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin-top: 150px;
}

.login-form h1 {
    padding-bottom: 15px;
    font-size: 2rem;
    color: #212E53;
    justify-content: center;
}

input{
    border-radius: 5px;
    border: 1px solid #212E53;
    padding: 8px;
    font-size: 1rem;
}

input::placeholder{
    font-size: 1rem;
}

input:focus{
    outline: 1px solid #212E53;
}

.alert{
    background-color: #e71c1c;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

.alert-success{
    background-color: #16cc16;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

.messageFlash{
    display: flex;
    justify-content: center;
}

.flash-success{
    text-align: center;
    width: 500px;
    margin: auto;
    background-color: #16cc16;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}
/*  ###################################
    ##           NAV BAR             ##
    ###################################*/

nav{
    padding: 25px 25px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 5px -2px rgb(0 0 0 / 20%)

}

h1{
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    text-shadow: 4px 3px 3px rgb(0 0 0 / 20%);
}

@media screen and (max-width: 590px) {
    nav h1{
        display: none;
    }
}

.headNav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.headNav img{
    width: 65px;
}

.user{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 20px;
    flex-wrap: wrap;
}

.btnPrimary{
    background-color: #3a4c69;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px;
    padding: 8px 15px;
    box-shadow: 0 2px 3px #0e0e0e;
}

.avatar{
    width: 65px;
    border:2px solid #fff;
    box-shadow: 0px 0px 8px 1px #0e0e0e;
    border-radius: 45%;
}

.avatar:hover{
    opacity: 70%;
}

.deconnexion img{
    width: 50px;
    opacity: 75%;

}

.deconnexion img:hover{
    opacity: 100%;
}

/*  ###################################
    ##           HEADER      ##
    ###################################*/

header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*  ###################################
    ##           CONTENT PROFIL      ##
    ###################################*/

main{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.contentProfil{
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 20px 220px;
    margin-top: 30px;
    align-items: stretch;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    text-align: center;
}

.contentProfil img {
    width: 90px;
}

.contentProfil h3{
    font-size: 1rem;
    text-decoration: underline;
    padding-bottom: 3px;
}

.contentProfil h2{
    font-size: 1.3rem;
    text-shadow: 4px 2px 5px #e5d9d9;
}

.contentProfil img{
    width: 65px;
    box-shadow: 0px 0px 8px 1px #0e0e0e;
    border-radius: 45%;
}


.villeCp{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.headProfil{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.headProfil h1{
    font-size: 1.3rem;
}
.headProfil img{
    width: 70px;
    border-radius: 50%;
}

/*  ##########################
    ##   CONTENT MODIFIER PROFILE     ##
    ##########################*/

.first-content-form{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.adresse-content-form{
    padding-top: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.img-content-form img {
    visibility: hidden;
}

/*  ###################################
    ##           CONTENT BIEN      ##
    ###################################*/

.content-bien{
    display: flex;
    background-color: red;
}

/*  ###################################
    ##           FORM MODIFIER      ##
    ###################################*/



/*  ###################################
    ##           SIDE BAR      ##
    ###################################*/

.sidebar{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 18px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin-bottom: 20px;
}



/*  ###################################
    ##           FOOTER      ##
    ###################################*/

footer{
    position: absolute;
    bottom: 0;
    padding: 2rem 0;
    width: 100%;
    text-align: center;
    box-shadow: 1px 1px 5px 2px rgb(0 0 0 / 20%);
}








