*{
    margin: 0;
    font-family: 'Inter', Serif, sans-serif;
    font-size: 1.2rem;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fdfcfc;
}

/*  ###################################
    ## FORMULAIRE _ LOGIN _ REGISTER ##
    ###################################*/

.btnSubmit {
    padding: 7px 50px;
    font-size: 0.9rem;
    border-radius: 10px;
    overflow: hidden;
    background-color: #3a4c69;
    color: white;
    border: #19203b solid;
}

.remember_me{
    font-size: 0.8rem;
}

.btnSubmit:hover{
    color: white;
    background-color: #405786;
}

.btnNouveauCompte {
    padding: 7px 50px;
    font-size: 0.9rem;
    border-radius: 10px;
    overflow: hidden;
    background-color: #3a4c69;
    color: white;
    border: #19203b solid;
}

.btnNouveauCompte:hover {
    color: white;
    background-color: #405786;
}

.container-form{
    display: flex;
    justify-content: center;
    margin-top: 200px;

}

.login-form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    padding: 70px 70px;
    color: #212E53;
    border-radius: 10px;
    border: white 1px solid;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.login-form h1 {
    padding-bottom: 15px;
    font-size: 2rem;
    color: #212E53;
}

input{
    border-radius: 5px;
    border: 1px solid #212E53;
    padding: 8px;
    font-size: 1rem;
}

input::placeholder{
    font-size: 1rem;
}

input:focus{
    outline: 1px solid #212E53;
}

.alert{
    background-color: #e71c1c;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.alert-success{
    background-color: #16cc16;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

/*  ###################################
    ##           NAV BAR             ##
    ###################################*/
nav{
    padding: 25px 10px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);

}

.headNav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.headNav img{
    width: 65px;
}

.user{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
}

.btnPrimary{
    background-color: #3a4c69;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px;
    padding: 8px 15px;
    box-shadow: 0 2px 3px #0e0e0e;
}

.avatar{
    width: 65px;
    border:2px solid #fff;
    box-shadow: 0 6px 5px #0e0e0e;
    border-radius: 45%;
}

.interface{
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.deconnexion img{
    width: 40px;
}

/*  ###################################
    ##           CONTAINER BODY      ##
    ###################################*/

.containerBody{
    padding-top: 20px;
}








