{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} Mes biens
{% endblock %}

{% block body %}

    <h1>Mes biens</h1>


      {#   {% for b in bien %}
            <div class="content-bien">
            {{ b.titre }}
            </div>
        {% endfor %}#}


    <a class="btnPrimary" href="{{ path('bien_ajout') }}">Ajouter un bien</a>

{% endblock %}
