<div class="navbar">

    <div class="headNav">
        <a href="{{ path('main_index') }}"><img src="{{ asset('img/papierSVG.svg') }}"></a>
        <h3>QUITTANCE</h3>
    </div>

    <div class="interface">
        <a href="#">
            <button class="btnPrimary" type="button">Mes biens</button>
        </a>
        <a href="#">
            <button class="btnPrimary" type="button">Mes locataires</button>
        </a>
        <a href="#">
            <button class="btnPrimary" type="button">Les Quittance</button>
        </a>

    </div>


    <div class="user">
        <a href="{{ path('app_logout') }}">
            <button class="btnPrimary" type="button">Deconnexion</button>
        </a>
        <a href="#">
            <button class="btnPrimary" type="button">Mon Profil</button>
        </a>
        <img class="avatar" src="{{ vich_uploader_asset(app.user, 'imageFile') }}">
    </div>


</div>