<div class="sidebar" xmlns="http://www.w3.org/1999/html">
    <a class="btnPrimary" href="#home">Mes biens</a>
    <a class="btnPrimary" href="#news">Locataires</a>
    <a class="btnPrimary" href="#contact">Quittances</a>
    <a class="btnPrimary" href="#about">Statistiques</a>

    {% if is_granted("ROLE_ADMIN") %}
        <a class="btnPrimary" href="{{ path('admin_panel') }}">Admin</a>
    {% endif %}
</div>